<%
###
#
# Author Ashwani Bhardwaj : VideoWiki
# Description: This page is to create modal for all the last meeting attendees and their details show in a popup
#
###
%>

<div class="modal fade overflow-auto" id="roomAttendeesListModal_<%= id %>" tabindex="-1" role="dialog" onclick="return false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
        <div class="modal-header">
          <span class="m-0 cursor-pointer allow-icon-click text-center" >
            <%= t("room.attendees") %>
          </span>
          <spna class="" data-toggle="modal" data-dismiss="modal">X</span>
        </div>
        <div class="modal-body overflow-auto" style="height: calc(100vh - 180px);">
            <% attendees['data'].to_a.each do |a| %>
                    <div class="d-flex align-items-center text-left border-secondary border-bottom">
                        <span data-toggle="tooltip" data-placement="bottom" title="<%= a['name'] %>" class="d-inline-block position-relative rounded-circle border-primary border text-primary text-center m-3 overflow-hidden" 
                                style="width:50px;height:50px;line-height:50px;">
                                <% if a['picture'] != "" %>
                                <img src="<%= a['picture'] %>" />
                                <% else %>
                                <%= a['name'][0,2].upcase %>
                                <% end %>
                        </span>
                        <span class="m-3 text-primary"><%= a['name'].upcase %></span>
                    </div>
            <% end %>
        </div>
    </div>
  </div>
</div>