<%
###
#
# Author Ashwani Bhardwaj : VideoWiki
#
###
%>

<div class="modal fade overflow-auto" id="roomAttendeesListModal_<%= id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
        <div class="modal-header">
          <span class="m-0 cursor-pointer allow-icon-click text-center" >
            Attendees
          </span>
        </div>
        <div class="modal-body overflow-auto" style="height: calc(100vh - 180px);">
            <table class="w-100 text-left">
                <% attendees['data'].to_a.each do |a| %>
                    <tr style="border-bottom: 1px solid #467fcf;">
                        <td>
                            <span data-toggle="tooltip" data-placement="bottom" title="<%= a['name'] %>" class="d-inline-block position-relative rounded-circle border-primary border text-primary text-center m-3" 
                                style="width:50px;height:50px;line-height:50px;">
                                <% if a['picture'] != "" %>
                                <img src="<%= a['picture'] %>" />
                                <% else %>
                                <i class="fas fa-user"></i>
                                <% end %>
                            </span>
                        </td>
                        <td><span class="m-3 text-primary"><%= a['name'] %></span></td>
                    </tr>
                <% end %>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary create-room-button" data-toggle="modal" data-dismiss="modal">
                <%= t("cancel") %>
            </button>
        </div>
    </div>
  </div>
</div>